@using Microsoft.AspNetCore.Identity
@using PizzaREAL.ModelsIdentity

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager


@if (signInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-1" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">KONTO</a>
        <div class="dropdown-menu">
        <a class="dropdown-item" asp-controller="Account" asp-action="LogOff">Logga ut</a>
        <a class="dropdown-item" asp-controller="Account" asp-action="Update">Ändra konto</a>
        </div>
    </li>


        @if (User.IsInRole("Admin"))
        {            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-1" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ADMIN</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-controller="Admin" asp-action="Account">Konton</a>
                    <a class="dropdown-item" asp-controller="Dish" asp-action="GetDishes">Maträtter</a>
                    <a class="dropdown-item" asp-controller="Ingredient" asp-action="GetIngredients">Ingredienser</a>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="Account">Konton</a>
                    <a class="dropdown-item" asp-controller="Order" asp-action="CreateOrder">Skapa en order</a>
                </div>
            </li>
        }


}
else
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-1" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Konto</a>
        <div class="dropdown-menu">
        <a class="dropdown-item" asp-controller="Account" asp-action="LogIn">Logga in</a>
        <a class="dropdown-item" asp-controller="Account" asp-action="Register">Skapa konto</a>
        </div>
    </li>

}