@model PizzaREAL.ViewModels.UserRegistrationRequest

@if (ViewBag.Ingredient != null)
            {
                <div class="alert alert-dismissible green">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    @ViewBag.Message
                </div>
            }



<form asp-controller="Account" asp-action="Register" method="post">
  <fieldset>
    <legend>Skapa konto</legend>
    <div class="row">
        <div class="col-sm">
            <label asp-for="Username" class="form-label mt-4"></label>
                <input type="text" class="form-control" asp-for="Username" maxlength="20"/>
                <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="col-sm">
            <label asp-for="Password" class="form-label mt-4"></label>
            <input type="password" class="form-control" asp-for="Password" maxlength="20"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label asp-for="Name" class="form-label mt-4"></label>
            <input type="text" class="form-control" asp-for="Name" maxlength="100"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-sm">
            <label asp-for="Address" class="form-label mt-4"></label>
      <input type="text" class="form-control" asp-for="Address" maxlength="50"/>
      <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label asp-for="PostCode" class="form-label mt-4"></label>
            <input type="text" class="form-control" asp-for="PostCode" maxlength="20"/>
            <span asp-validation-for="PostCode" class="text-danger"></span>
        </div>
        <div class="col-sm">
            <label asp-for="City" class="form-label mt-4"></label>
            <input type="text" class="form-control" asp-for="City" maxlength="100"/>
            <span asp-validation-for="City" class="text-danger"></span> 
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label asp-for="Email" class="form-label mt-4"></label>
            <input type="text" class="form-control" asp-for="Email" maxlength="50"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-sm">
            <label asp-for="PhoneNumber" class="form-label mt-4"></label>
            <input type="text" class="form-control" asp-for="PhoneNumber" maxlength="50"/>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span> 
        </div>
    </div>
    <br />
    <button type="submit" class="btn grey">Skapa konto</button>
  </fieldset>
</form>

